.headerWrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  height: 20px;
  transition: all 250ms ease-in-out;
}

.headerWrapper:hover {
  height: 80px;
}

.headerWrapper:hover .navList {
  transform: translateY(0);
  background-color: white;
}

.navList {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  padding: 20px 0;
  width: 100vw;
  border-bottom: 0.5px solid darkslateblue;
  transform: translateY(-90%);
  background-color: darkslateblue;
  transition: all 250ms ease-in-out;
}

.navLinkItem {
  padding: 10px 25px;
  width: 120px;
  background-color: white;
  border: 0.5px solid darkslateblue;
  border-radius: 4px;
  color: darkslateblue;
  text-align: center;
  text-transform: capitalize;
  transition: all 250ms ease-in-out;
}

.navLinkItem:hover,
.navLinkItem:focus {
  background-color: slateblue;
  color: white;
}

.activeLink {
  color: white;
  background-color: darkslateblue;
  text-transform: capitalize;
}
