.movieList {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 45px;
}

.movieListItem {
  position: relative;
  flex-basis: calc((100% - 4 * 48px) / 5);
  overflow: hidden;
  border-radius: 8px;
  filter: grayscale(0.75);
  transition: all 250ms ease-in-out;
}

.movieListItem:hover {
  scale: 1.02;
  filter: grayscale(0);
}

.movieListItem:hover .movieTitle {
  opacity: 1;
}

.moviePoster {
  width: 100%;
}

.movieLink {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
}

.movieTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: rgba(71, 61, 139, 0.75);
  color: white;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
